[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spidev = {version = "==3.6", sys_platform = "!= 'darwin'"}
'RPi.GPIO' = {version = "==0.7.1", sys_platform = "!= 'darwin'"}
python-dateutil = "*"
pillow = "*"
pyowm = "==2.10.0" # OpenWeather API
click = "*" # Command Line Interface
pytz = "*"
lnetatmo = "*"
